@font-face {
  font-family: emulogic;
  src: url("../fonts/emulogic.ttf");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#gameScreen,
#gameHUD {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#gameHUD {
  margin-bottom: -5px;
  background-color: black;
}
